.header1{
  position: relative;
  top: 0;
  box-sizing: border-box;
}
.nav1{
  background: url("../../assets/white label header.svg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 48px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.part1{
  z-index: 3;
  display: flex;
  align-items: center;
}
#logo1{
  margin-left: 30px;
}
.text1{
  margin-left: 15px;
  font-size: 17px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
}
.part2{
  display: flex;
  align-items: center;
}
.text2{
  display: flex;
  align-items: center;
  margin-right:15px;
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*height: 16px;*/
  width: 84px;
  text-align: end;
}
.border1{
  margin-right: 15px;
  border-left: 1px solid white;
  height: 36px;
}
#user{
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.helptext{
  color: white;
  margin-right: 15px;
  margin-left: 5px;
}
a{
  text-decoration: none;
  display: flex;
  cursor: pointer;
}
.nav2{
  background-color: #FFFFFF;
  /*height: 38px;*/
  display: flex;
  align-items: center;
  /*border: 0.5px solid #BAC1C8;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* box-shadow: 10px 10px 5px grey;*/
}
.buttonbutton{
  color: #53565A;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #FFFFFF;
  margin-left: 30px;
  height: 37px;
  cursor: pointer;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  outline: none;

}
.buttonactive{
  border-bottom: 4px solid #ED8B00;
}
.main1{
  background-color: #B8D4DE;
  height: 100vh;
}

/*.flex1{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  width: 1305px;*/
/*  !*margin-left: 23px;*!*/
/*  margin: 0px auto;*/
/*  border: 1px solid white;*/
/*  background-color: white;*/
/*  height: 651px;*/
/*}*/


