<div class= "header1">
  <div class= "nav1">
   <div class= "part1">
     <img src= "assets/ZS Logo.svg" id= "logo1" height="40" width="40">
     <div class= "text1">Clinical Trial Enrollment Monitoring & Prediction</div>
   </div>
   <div class= "part2">
    <div class= "text2">Welcome {{ name1 }}</div>
    <img src= "assets/user.svg" id= "user" (click)="onLogout()">
     <div class= "border1"></div>
     <a (click)="downloadPdf()"><img src= "assets/question.svg">
      <!--remove href to avoid opening in a new tab-->
     <div class= "helptext">Help</div></a>
   </div>
</div>

<div class= "nav2">
  <p class= "buttonbutton" id= "button1" routerLink="/site-level" routerLinkActive="buttonactive">Site Level Study Data</p>
  <p class= "buttonbutton" id= "button2" routerLink="/modeling" routerLinkActive="buttonactive">Modeling & Predictions</p>
</div>
</div>
