.header1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  border: 1px solid white;
  background-color: white;
  height: 100vh;
}
.backgroundisit{
  background-color: #B8D4DE;
}
.buttonjson{
  position: relative;
  background-color: darksalmon;
  color: #FFFFFF;
  border: none;
}
.searchcontainer{
  margin-top: 20px;
  border: 1px solid grey;
  outline: none;
  /*height: 45px;*/
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
}
.inputtype{
  border: none;
  outline: none;
  padding: 5px;
  width: 250px;
}
.searchicon{
  margin-right: 5px;
  width: 16px;
  height: 16px;
  font-weight: bold;
}
.outputjson{
  overflow: auto;
  margin-top: 20px;
  height: 300px;
  padding-bottom: 1px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 3px;
  width: 800px;
}
table{
  width: 100%;
}
.stickposition{
  position: sticky;
  top: 0;
  background-color: #53565A;
  color: #FFFFFF;
}
th{
  font-size: 16px;
}
td, th{
  padding: 8px;
  height: 70px;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}
/*Used in the paragraph part (commented out in .html)*/
/*.displayitem{*/
/*  padding: 10px;*/
/*}*/

/*Custom ScrollBar*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: 0 0 5px #53565A;*/
  border-radius: 3px;
  border-right: 1px solid grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #53565A;
  border-radius: 10px;
}
