<div class="backgroundisit">
<div class= "header1">
  <h3>Hello {{ name1 }}</h3>
  <p>Welcome to Site Level Study Data</p>

<!--  <button class= "btn btn-primary buttonjson" (click)= "fetchPosts()">Get JSON data</button>-->

  <div class= "searchcontainer">
    <input type= "text" class="inputtype">
    <i class="fa fa-search searchicon"></i>
  </div>

  <h3 *ngIf= "!isFetching && errorMessage">{{ errorMsg }}</h3>
  <h3 *ngIf= "isFetching"><img src="assets/loading-circle.gif"></h3>

      <div class= "outputjson">
        <div *ngIf= "loadedPosts.length >= 1">
          <p *ngIf= "loadedPosts.length < 1">No posts available</p>
            <table>
                <tr>
                  <th class="stickposition">UserID</th>
                  <th class="stickposition">ID</th>
                  <th class="stickposition">Title</th>
                  <th class="stickposition">Status</th>
                </tr>
                <tr *ngFor= "let posts of loadedPosts">
                  <td *ngIf="posts.id<=20">{{ posts.userId }}</td>
                  <td *ngIf="posts.id<=20">{{ posts.id }}</td>
                  <td *ngIf="posts.id<=20">{{ posts.title }}</td>
                  <td *ngIf="posts.id<=20">{{ posts.completed }}</td>
                </tr>
            </table>
        </div>
      </div>

</div>
</div>

<!--            <p class= "displayitem">{{ posts.userId }}</p>-->
<!--            <p class= "displayitem">{{ posts.id }}</p>-->
<!--            <p class= "displayitem">{{ posts.title }}</p>-->
<!--            <p class= "displayitem">{{ posts.completed }}</p>-->
