<div class= "bodybg">
<div class= "box">

    <div class= "flex-1">
      <img class= "zslogo" src= "assets/zslogo.svg">
      <div class= "line1"></div>
      <label class= "text-row">
        Clinical Trial Enrollment Monitoring & Prediction
      </label>
    </div>

<!--    <div *ngIf= "successMsg" class= "succ errclass">{{ errorMessage }}</div>-->
    <div *ngIf= "errorMsg" class= "fail errclass">{{ errorMessage }}</div>

  <div class= "login-form" *ngIf= "!isValid">
  <div class = "flex-2" [ngClass]= "{borderClass : errorMsg}">
    <input type= "email" placeholder= "Username" class= "input-1" name= "username" [(ngModel)]= "username" (keyup.enter)= "checkLogin()">
    <img src= "assets/username.svg">
  </div>

  <div class= "flex-2" [ngClass]= "{borderClass : errorMsg}">
    <input type= "password" placeholder= "Password" class= "input-1" name= "password" [(ngModel)]= "password" (keyup.enter)= "checkLogin()">
    <img src= "assets/pwd.svg">
  </div>

  <button class= "button" (click)= "checkLogin()" (keydown.enter)= "checkLogin()">Log In</button>


  <div class= "forgot-pwd">
    Forgot Password?
  </div>
  </div>


  <div *ngIf= "isValid" class= "loadingCircle">
    <img src= "assets/loading-circle.gif" id="loading-cirlce">
    <p>Authenticating...</p>
  </div>

</div>
</div>
