.bodybg{
  background: #B8D4DE;
  /*display: flex;*/
  /*height: auto;*/
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 0;
}
.box{
  position: center;
  width: 526px;
  height: 514px;
  margin-top: 117px;
  margin-bottom: 118px;
  z-index: 1;
  margin-left: 35%;
  background: #FFFFFF;
  /* Popup shadow */
  box-shadow: 1px 3px 3px rgba(105, 105, 105, 0.4);
  overflow: hidden;
}
.text-row{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  width: 190px;
  height: 49px;
  padding-left: 20px;
  color: #53565A;
  box-sizing: content-box;
  /*border-left-width: 49px;*/
}
.line1{
  height: 49px;
  border-left: 1px solid #DDDDDD;
}
.flex-1{
  margin-top: 150px;
  margin-left: 102px;
  display: flex;
  margin-bottom: 21px;
}
.zslogo{
  padding-right: 20px;
}
.input-1{
  background-color: #FFFFFF;
  padding-left: 9px;
  border: 0px;
  box-sizing: border-box;
  outline: none;
  width: 300px;
  text-decoration-color: white;
}
/*remove the background color*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.flex-2{
  margin-left: 98px;
  width: 300px;
  height: 34px;
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #CFDDE6;
  justify-content: space-between;
  padding-right: 5px;
}
.button{
  margin-top: 8px;
  margin-left: 170px;
  width: 157px;
  height: 34px;
  background: linear-gradient(360deg, #2B7272 51.79%, #379392 51.93%), #FFFFFF;
  border-radius: 4px;
  color: white;
  border-style: none;
  cursor: pointer;
}
.forgot-pwd{
  width: 115px;
  height: 27px;
  color: #118799;
  line-height: 45px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-left: 191px;
  display: flex;
  justify-content: center;
}
p{
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px auto;
}
.succ{
  border: 1px solid darkgreen;
  background: aquamarine;
}
.fail{
  border: 1px solid crimson;
  background: moccasin;
}
.errclass{
  line-height: 25px;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: content-box;
  width: 296px;
  height: 40px;
  margin: 10px 0px 10px 98px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid midnightblue;
}
.borderClass{
  border: 2px solid crimson;
}
.loadingCircle{
  width: 50px;
  height: 50px;
}
.loadingCircle{
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
#loading-cirlce{
  margin-left: auto;
  display: block;
  margin-right: auto;
}
