.header1{
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  border: 1px solid white;
  background-color: white;
  height: 100vh;
  flex-direction: column;
}
.backgroundisit{
  background-color: #B8D4DE;
}
